agent.txt
{
  "nodes": [
    {
      "parameters": {
        "model": "gpt-oss:latest",
        "options": {
          "numCtx": 2048,
          "format": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -928,
        192
      ],
      "id": "bdaca0cc-d899-4713-afe6-72a44bc88018",
      "name": "Ollama Chat Model2",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "ssQt209O8RVAo2M2",
          "name": "Ollama account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -784,
        176
      ],
      "id": "ddcb9a85-064d-4250-abb9-88850f2e3f8e",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "ANrR5QsLXMw9hKY2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Find info relevant to the chat input.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 15,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -976,
        368
      ],
      "id": "8c9a4ce5-85ae-4bf7-9190-6e6aabfb3e16",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "LBaGw7T4G5R8smgB",
          "name": "Sources"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0",
        "topN": 4
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        -480,
        384
      ],
      "id": "b229edb3-7d11-469b-829a-bec3e8b4f265",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "VTzdncGwsinKvEhq",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($input.first().json.output || '');\nconst openTag = '<ΑΠΑΝΤΗΣΗ>';\nconst lastOpen = raw.lastIndexOf(openTag);\nlet answer = '';\nif (lastOpen !== -1) {\n  answer = raw.slice(lastOpen + openTag.length);\n} else {\n    answer = raw;\n}\nanswer = answer.replace(/\\\\n/g, '\\n').trim();\nreturn [\n  {\n    text: answer\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        0
      ],
      "id": "22892e24-1e64-45ed-8c71-ff7123af0494",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Γεια σου, πως μπορώ να σε βοηθήσω;",
        "options": {
          "subtitle": "Ρώτα με ότι θες! 24/7 διαθέσιμο!",
          "title": "PractiPal v0.1",
          "customCss": "* {\n  font-family: \"Poppins\", \"Segoe UI\", Helvetica, Arial, sans-serif !important;\n}\n \n/* === FINAL COLOR PALETTE (Απαλά Λιλά) === */\n:root {\n  --pp-dark-lilac:        #614B79;   /* Header & Buttons (Σκούρο λιλά/μωβ) */\n  --pp-darker-lilac:      #4D3A63;   /* Hover states (Πιο σκούρο για hover) */\n  --pp-medium-lilac:      #9478B8;   /* User bubbles (Μεσαίο απαλό λιλά) */\n  --pp-light-lilac:       #DFD5EB;   /* Light bg / Borders */\n  --pp-ultra-light-lilac: #F2ECF7;   /* Lighter bg (Πολύ απαλό παστέλ) */\n  --pp-white:             #ffffff;\n \n  /* Βασικά χρώματα του chat */\n  --chat--color-primary: var(--pp-dark-lilac);\n  --chat--color-primary-shade-50: var(--pp-darker-lilac);\n  --chat--color-primary-shade-100: #382A4A;\n \n  --chat--color-secondary: var(--pp-medium-lilac);\n  --chat--color-secondary-shade-50: #7A5DA0;\n \n  --chat--color-white: var(--pp-white);\n  --chat--color-light: var(--pp-ultra-light-lilac);\n  --chat--color-light-shade-50: var(--pp-light-lilac);\n  --chat--color-light-shade-100: var(--pp-light-lilac);\n  --chat--color-dark: var(--pp-dark-lilac);\n \n  /* ΕΔΩ ορίζουμε ρητά τα message colors */\n  --chat--message--user--background: var(--pp-medium-lilac);\n  --chat--message--user--color: var(--pp-white);\n  --chat--message--bot--background: var(--pp-white);\n  --chat--message--bot--color: var(--pp-dark-lilac);\n}\n \n/* ============================================\n   CHAT BACKGROUND & STRUCTURE\n   ============================================ */\n \n/* Light lilac background */\n.chat-window,\n.chat-body,\n.chat-footer {\n  background: var(--pp-ultra-light-lilac) !important;\n}\n \n/* Header */\n.chat-header {\n  background: var(--pp-dark-lilac) !important;\n  color: var(--pp-white) !important;\n  position: relative;\n}\n \n/* Μηνύματα – max width */\n.chat-message {\n  max-width: 50%;\n}\n \n/* USER & BOT bubbles – σωστοί selectors για n8n */\n.chat-message.user {\n  background: var(--chat--message--user--background) !important;\n  color: var(--chat--message--user--color) !important;\n  border: none !important;\n}\n \n.chat-message.bot {\n  background: var(--chat--message--bot--background) !important;\n  color: var(--chat--message--bot--color) !important;\n}\n \n/* Send button */\nbutton,\n.chat-input__send-button {\n  background: var(--pp-dark-lilac) !important;\n  color: var(--pp-white) !important;\n}\nbutton:hover,\n.chat-input__send-button:hover {\n  background: var(--pp-darker-lilac) !important;\n}\n \n/* ============================================\n   ABOUT BUTTON (palette aligned)\n   ============================================ */\n \n.chat-header::after {\n  content: \"About\";\n  position: absolute;\n  right: 20px;\n  top: 50%;\n  transform: translateY(-50%);\n \n  background: var(--pp-ultra-light-lilac); /* Πολύ απαλό λιλά */\n  color: var(--pp-dark-lilac);             /* Σκούρο λιλά κείμενο */\n \n  padding: 6px 14px;\n  border-radius: 6px;\n  font-size: 0.85rem;\n  font-weight: 600;\n  cursor: default;\n  transition: 0.15s ease;\n  z-index: 99999;\n}\n \n.chat-header:hover::after {\n  background: var(--pp-light-lilac);\n}\n \n/* Tooltip */\n.chat-header::before {\n  content: \"PractiPal\\AΈκδοση 0.1\\AΝοέμβριος 2025\\AΟμάδα Euclid\\AΜαρία Δημητριάδου\\AΜαρία Βασιλική Τσάμη\\AΑντώνιος Χατζητουλούσης\\AΝικόλαος Παυλίδης\\AΠαύλος Εφραιμίδης\";\n  white-space: pre-wrap;\n \n  position: absolute;\n  right: 20px;\n  top: 110%;\n  width: 260px;\n \n  padding: 12px 14px;\n  background: var(--pp-white);\n  color: var(--pp-dark-lilac);\n  border-radius: 8px;\n  border: 1px solid var(--pp-light-lilac);\n  box-shadow: 0 4px 16px rgba(0,0,0,0.15);\n  line-height: 1.4;\n \n  opacity: 0;\n  pointer-events: none;\n  transition: opacity 0.15s ease;\n  z-index: 99998;\n}\n \n.chat-header:hover::before {\n  opacity: 1;\n}\n\n/* === Μεγαλύτερη + Bold γραμματοσειρά ΜΟΝΟ για τα μηνύματα === */\n.chat-message,\n.chat-message.user,\n.chat-message.bot {\n  font-size: 18px !important; \n  font-weight: 600 !important; /* <= κάνει την Poppins bold */\n  line-height: 1.5 !important;\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1088,
        0
      ],
      "id": "7f1d0224-46bb-4c71-9fcd-a26ca66e569d",
      "name": "When chat message received",
      "webhookId": "8bbf2fdd-bc38-4abc-9e4e-b2ad3c764d13"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Find info relevant to the chat input.",
        "pineconeIndex": {
          "__rl": true,
          "value": "practipal",
          "mode": "list",
          "cachedResultName": "practipal"
        },
        "topK": 15,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -624,
        224
      ],
      "id": "3c34306f-2bf6-4d72-94a7-23a6cd45dda7",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "hJ2DtNSk3UcAgXLH",
          "name": "Pinecone small files"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Είσαι βοηθός σε μια ιστοσελίδα για το πρόγραμμα πρακτικής άσκησης του Δημοκριτείου Πανεπιστημίου Θράκης. Οι φοιτητές θα κάνουν ερωτήσεις σχετικά με το πρόγραμμα και εσύ θα απαντάς μόνο με την πληροφορία που παρέχεται στην βάση δεδομένων.\nΗ απάντηση πρέπει να είναι στα Ελληνικά.\nΗ απάντηση πρέπει πάντα να τελειώνει με ενότητα Πηγές: και το όνομα του εγγράφου που χρησιμοποιήθηκε ή το url αν υπαρχει.\n\nΥΠΟΧΡΕΩΤΙΚΗ ΜΟΡΦΗ ΕΞΟΔΟΥ\nΘα εμφανίζεις ΑΚΡΙΒΩΣ ΜΙΑ ΦΟΡΑ το tag <ΑΠΑΝΤΗΣΗ> και θα είναι η τελευταία ενότητα που γράφεις.\nΜΗΝ γράψεις το string <ΑΠΑΝΤΗΣΗ> πουθενά αλλού (ούτε σε οδηγίες, ούτε σε σκέψεις, ούτε σε παραδείγματα).\nΜετά το τελευταίο <ΑΠΑΝΤΗΣΗ> γράφεις μόνο το τελικό κείμενο της απάντησης.\nΜΗΝ γράφεις τίποτα μετά την απάντηση.\nΠαράδειγμα:\n<ΑΠΑΝΤΗΣΗ>\n(τελικό κείμενο απάντησης)\n\nΑν δεν βρίσκεις την απάντηση στη βάση δεδομένων ή δεν είσαι βέβαιος για αυτήν, τότε απάντησε ΑΚΡΙΒΩΣ το παρακάτω, πάλι μέσα στα tags:\n<ΑΠΑΝΤΗΣΗ>\nΠαρακαλώ επικοινωνήστε με το Κεντρικό Γραφείο Πρακτικής Άσκησης μέσω e-mail στο praktiki@duth.gr\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -864,
        0
      ],
      "id": "8f5f8561-afb1-4807-8f85-65562cb34d8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -656,
        368
      ],
      "id": "7b2b4919-963d-4041-8814-efaf0603ba0e",
      "name": "Embeddings Ollama3",
      "credentials": {
        "ollamaApi": {
          "id": "ssQt209O8RVAo2M2",
          "name": "Ollama account 4"
        }
      }
    }
  ],
  "connections": {
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        []
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e00e45994af68f368c9f70d96890226ba553d43b1552beb79c1c6cc895e128f"
  }
}